.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00aeef;
}

.header .logo {
  max-height: 30px;
  padding-left: 40px;
}

.header .title-group {
  padding-left: 60px;
}

.header .title-group i {
  padding-right: 5px;
}